[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://git.drupal.org/project/views.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/commerce"]
	path = sites/all/modules/commerce
	url = git://git.drupal.org/project/commerce.git
[submodule "sites/all/modules/views_bulk_operations"]
	path = sites/all/modules/views_bulk_operations
	url = git://git.drupal.org/project/views_bulk_operations.git
[submodule "sites/all/modules/rules"]
	path = sites/all/modules/rules
	url = git://git.drupal.org/project/rules.git
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = git://git.drupal.org/project/entity.git
[submodule "profiles/commerce_kickstart"]
	path = profiles/commerce_kickstart
	url = git://git.drupal.org/project/commerce_kickstart.git
[submodule "sites/all/modules/addressfield"]
	path = sites/all/modules/addressfield
	url = git://git.drupal.org/project/addressfield.git
[submodule "sites/all/themes/corolla"]
	path = sites/all/themes/corolla
	url = git://git.drupal.org/project/corolla.git
[submodule "sites/all/themes/omega"]
	path = sites/all/themes/omega
	url = git://git.drupal.org/project/omega.git
[submodule "sites/all/modules/admin_vbo_views"]
	path = sites/all/modules/admin_vbo_views
	url = git://git.drupal.org/project/admin_vbo_views.git
[submodule "sites/all/modules/commerce_paypal"]
	path = sites/all/modules/commerce_paypal
	url = git://git.drupal.org/project/commerce_paypal.git
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/module_filter"]
	path = sites/all/modules/module_filter
	url = git://git.drupal.org/project/module_filter.git
[submodule "sites/all/modules/realname"]
	path = sites/all/modules/realname
	url = git://git.drupal.org/project/realname.git
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = git://git.drupal.org/project/token.git
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = git://git.drupal.org/project/date.git
[submodule "sites/all/modules/calendar"]
	path = sites/all/modules/calendar
	url = git://git.drupal.org/project/calendar.git
[submodule "sites/all/modules/references"]
	path = sites/all/modules/references
	url = git://git.drupal.org/project/references.git
[submodule "sites/all/modules/wysiwyg"]
	path = sites/all/modules/wysiwyg
	url = git://git.drupal.org/project/wysiwyg.git
[submodule "sites/all/modules/libraries"]
	path = sites/all/modules/libraries
	url = git://git.drupal.org/project/libraries.git
[submodule "sites/all/modules/commerce_vbo_views"]
	path = sites/all/modules/commerce_vbo_views
	url = git://git.drupal.org/project/commerce_vbo_views.git
[submodule "sites/all/modules/views_slideshow"]
	path = sites/all/modules/views_slideshow
	url = git://git.drupal.org/project/views_slideshow.git
[submodule "sites/all/themes/respond"]
	path = sites/all/themes/respond
	url = git://git.drupal.org/project/respond.git
[submodule "sites/all/libraries/jquery.cycle"]
	path = sites/all/libraries/jquery.cycle
	url = http://github.com/malsup/cycle.git
[submodule "sites/all/modules/fontyourface"]
	path = sites/all/modules/fontyourface
	url = git://git.drupal.org/project/fontyourface.git
[submodule "sites/all/modules/git_deploy"]
	path = sites/all/modules/git_deploy
	url = git://git.drupal.org/project/git_deploy.git
[submodule "sites/all/modules/commerce_repair"]
	path = sites/all/modules/commerce_repair
	url = git://git.drupal.org/project/commerce_repair.git
[submodule "sites/all/modules/logintoboggan"]
	path = sites/all/modules/logintoboggan
	url = git://git.drupal.org/project/logintoboggan.git
[submodule "sites/all/modules/commerce_product_display_manager"]
	path = sites/all/modules/commerce_product_display_manager
	url = git://git.drupal.org/project/commerce_product_display_manager.git
[submodule "sites/all/modules/commerce_custom_product"]
	path = sites/all/modules/commerce_custom_product
	url = git://git.drupal.org/project/commerce_custom_product.git
[submodule "sites/all/modules/commerce_cheque"]
	path = sites/all/modules/commerce_cheque
	url = git://git.drupal.org/project/commerce_cheque.git
[submodule "sites/all/modules/select_or_other"]
	path = sites/all/modules/select_or_other
	url = git://git.drupal.org/project/select_or_other.git
[submodule "sites/all/modules/commerce_product_bundle"]
	path = sites/all/modules/commerce_product_bundle
	url = git://git.drupal.org/project/commerce_product_bundle.git
[submodule "sites/all/modules/commerce_product_attributes"]
	path = sites/all/modules/commerce_product_attributes
	url = git://git.drupal.org/project/commerce_product_attributes.git
[submodule "sites/all/modules/field_group"]
	path = sites/all/modules/field_group
	url = git://git.drupal.org/project/field_group.git
[submodule "sites/all/modules/field_collection"]
	path = sites/all/modules/field_collection
	url = git://git.drupal.org/project/field_collection.git
[submodule "sites/all/modules/field_collection_table"]
	path = sites/all/modules/field_collection_table
	url = git://git.drupal.org/project/field_collection_table.git
[submodule "sites/all/modules/css_injector"]
	path = sites/all/modules/css_injector
	url = git://git.drupal.org/project/css_injector.git
[submodule "sites/all/modules/auto_nodetitle"]
	path = sites/all/modules/auto_nodetitle
	url = git://git.drupal.org/project/auto_nodetitle.git
[submodule "sites/all/themes/sasson"]
	path = sites/all/themes/sasson
	url = git://git.drupal.org/project/sasson.git
[submodule "sites/all/themes/ICE-BUSINESS"]
	path = sites/all/themes/ICE-BUSINESS
	url = git://git.drupal.org/project/ICE-BUSINESS.git
[submodule "sites/all/modules/colorbox"]
	path = sites/all/modules/colorbox
	url = git://git.drupal.org/project/colorbox.git
[submodule "sites/all/libraries/colorbox"]
	path = sites/all/libraries/colorbox
	url = git://github.com/jackmoore/colorbox.git
[submodule "sites/all/themes/zen"]
	path = sites/all/themes/zen
	url = git://git.drupal.org/project/zen.git
[submodule "sites/all/modules/features"]
	path = sites/all/modules/features
	url = git://git.drupal.org/project/features.git
[submodule "sites/all/modules/commerce_features"]
	path = sites/all/modules/commerce_features
	url = git://git.drupal.org/project/commerce_features.git
[submodule "sites/all/modules/stringoverrides"]
	path = sites/all/modules/stringoverrides
	url = git://git.drupal.org/project/stringoverrides.git
[submodule "sites/all/modules/htmlmail"]
	path = sites/all/modules/htmlmail
	url = git://git.drupal.org/project/htmlmail.git
[submodule "sites/all/modules/mailsystem"]
	path = sites/all/modules/mailsystem
	url = git://git.drupal.org/project/mailsystem.git
[submodule "sites/all/modules/views_data_export"]
	path = sites/all/modules/views_data_export
	url = git://git.drupal.org/project/views_data_export.git
[submodule "sites/all/modules/views_datasource"]
	path = sites/all/modules/views_datasource
	url = git://git.drupal.org/project/views_datasource.git
[submodule "sites/all/modules/reroute_email"]
	path = sites/all/modules/reroute_email
	url = git://git.drupal.org/project/reroute_email.git
[submodule "sites/all/modules/variable"]
	path = sites/all/modules/variable
	url = git://git.drupal.org/project/variable.git
[submodule "modules/variable_email"]
	path = modules/variable_email
	url = git://git.drupal.org/project/variable_email.git
[submodule "sites/all/modules/variable_email"]
	path = sites/all/modules/variable_email
	url = git://git.drupal.org/project/variable_email.git
[submodule "sites/all/modules/commerce_email"]
	path = sites/all/modules/commerce_email
	url = git://git.drupal.org/project/commerce_email.git
[submodule "sites/all/modules/mailmime"]
	path = sites/all/modules/mailmime
	url = git://git.drupal.org/project/mailmime.git
[submodule "sites/all/modules/insert"]
	path = sites/all/modules/insert
	url = git://git.drupal.org/project/insert.git
[submodule "sites/all/modules/include"]
	path = sites/all/modules/include
	url = git://git.drupal.org/project/include.git
[submodule "sites/all/modules/sweaver"]
	path = sites/all/modules/sweaver
	url = git://git.drupal.org/project/sweaver.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = git://git.drupal.org/project/devel.git
[submodule "sites/all/modules/backup_migrate"]
	path = sites/all/modules/backup_migrate
	url = git://git.drupal.org/project/backup_migrate.git
[submodule "sites/all/modules/environment_indicator"]
	path = sites/all/modules/environment_indicator
	url = git://git.drupal.org/project/environment_indicator.git
[submodule "sites/all/modules/link"]
	path = sites/all/modules/link
	url = git://git.drupal.org/project/link.git
[submodule "sites/all/modules/varnish"]
	path = sites/all/modules/varnish
	url = git://git.drupal.org/project/varnish.git
